# NPM
node_modules

# Eclipse
.project
.settings

# Logs
npm-debug.log

# Apple internal automatic admin
.DS_Store

# Windows thumbnail cache
public/Thumbs.db

# Security
server/jwt_secret.jsx

# Articles about HVPT for About page
lib/articles