# NPM
node_modules

# Eclipse
.project
.settings

# Logs
npm-debug.log

# local database store
localgandi.sql

# asset locations
private
public

# Apple internal automatic admin
.DS_Store

# gandi db dump for development
mirror.sql