/* ================================== */
/* ========= entire document ======== */
/* ================================== */

html, #content, #app-container {
    position: relative;
    height: 100%;
}
    
body {
    background: url("/hatter2.png") /*bgcolor="E4E4E4"*/;  
    margin: 0 0 0;
    background-attachment: fixed;
    background-position:center;
    height: 100%;
}

p, li, h1, h2, h3, h4, div {font-family: Verdana, Geneva, sans-serif;}   /* Set fonts throughout the document. */
h1, h2, h3, h4, p { color: black; } /* Most text should be black. */
li { float: left; }                 /* All list elements should keep to the left as much as they can throughout the site. */

.bulletpoints { clear: left; } /* We want bullet points to stack one on top of the other. */


/* ================================== */
/* ====== general categories ======== */
/* ================================== */

/* That white box that all the pages live in. */
.panel {
    /*position: absolute;*/
    float: left;
    z-index: -1;
    overflow: auto;
    background-color: white; /* #EAE5E1; */
    border-radius: 8px;
    margin-left: 19%;
    margin-right: 19%;
    margin-bottom: 40px;
    width: 56%;
    margin-top: 100px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    padding: 3%;
    opacity: 90%;
}
#guestHome, #userHome { text-align: center; }

/* For elements that are inactive (at the moment only used on the Record page) */
.transparent { 
    opacity: 0.5;
    cursor:default;
    pointer-events: none;
}
/* For elements that are not shown at all. (They may be shown when this class is removed from them.) */
.noDisplay { display: none; }
/* For elements which have a default cursor (not a hand) - to indicate that they are not clickable at the moment. */
.defaultCursor { cursor: default }
/* For centering an <img> element in a <div>. Relevant to the loading wheel. */
.centred {
    margin: auto;
    display: block;
}


/* ================================= */
/* =========== buttons ============= */
/* ================================= */

/* general button */
.button { 
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #FFA22E;
    color: lightyellow;
    text-align: center;
    border-radius: 8px;
    margin: 10px;
}

/* Buttons that need to fill out a lot of space, so they have extra width and lots of margin. */
.wordOption, .chooseOption { 
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

.chooseOption a {
    position: relative;
    display: inline-block;
    opacity: 0;
}

.chooseOption:hover a {
    opacity: 1;
    color: #3C4536;
    transition: 0.5s;
}

.progressButton {
    text-align: center;
    width: 30%;
    margin-top: 50px;
    margin-left: 35%;
    padding-top: 3px;
    padding-bottom: 5px;
}

.button:hover{
    background-color: #FFC32E;
    color: #3C4536;
}


/* Buttons on the Home page. */
.homebtn { 
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
}


/* <Link> elements inside buttons need no text decoration, and white font. (For homebtn buttons.) */
.btnLink {
    color: lightyellow;
    font-size: 1.4vw;
    text-decoration: none; 
    margin:auto;
    display:table
}

/* Button at the bottom of the selector. Fills out most of the width of the page. */
#extraButton {
    background-color: gold;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    color: black;
}
#extraButton:hover { 
    background-color: goldenrod;
    color: lightyellow;
}

/* Record page buttons. */
.wordRowButton, .topRowButton {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 0%;
    padding-bottom: 0%;    
    margin-left:10px;
    margin-right:10px;
    height:45px;  
    line-height:45px;
}

.topRowButton {
    background-image: url("topRow.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;    
    border-radius: 5px;         
    line-height:45px;
    padding-left:10px;
    padding-right:10px;
    margin:1px;
    color:#492805;
    height:45px;
}

.topRowButton:hover {
    color:lightgoldenrodyellow;
}

.wordRowButtonEnabled, .topRowButtonEnabled {
    cursor: pointer;
}

/* The play (>), record (o), and stop symbols on buttons */
.buttonIcon { 
   /* margin-right: 1px;  */       
}

/* When the re-record single word buttons are currently re-recording */
.reRecordActive { 
    content:url("done.png");
    cursor: pointer;
    width:60px;
    height: 45px;
}
.reRecordActive:hover { 
    content:url("doneHover.png");
    width:60px;
    height: 45px;
}


/* ================================== */
/* ======== navigation bar ========== */
/* ================================== */

/* The navigation bar as a whole */
nav {
    height: 42px;
    text-align:center;
    background-color: #DE8312;
    width: 100%;
    padding: 7px; /*This should be a number of pixels, not %, to keep consistent as the window is re-sized.
    Otherwise, the nav bar hugs the buttons more and more closely as the page is narrowed.
    For reference, the old value was 0.5%, in case you want to compare this and change the pixel number. */
    box-shadow: 0px 0px 25px rgba(0,0,128,0.2);
    position:fixed;
    z-index: 1;
}
/* The links within the navigation bar */
nav a {
    color:#492805;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    vertical-align:middle;
}
nav a:hover {
    text-decoration: none;
    color: lightgoldenrodyellow;
    transition: height .5s ease, background-color .5s ease;
    background-color: #E3A557;
}

/* The buttons within the nav bar are an unordered list (<ul>). */
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 18.5%;
    overflow: hidden;
    padding-right:1%;
}
/* The styling of the buttons within the nav bar is done through their text (<a> and <p>). */
nav ul li a, nav ul li p {
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top:12px;
    padding-bottom:12px;
    margin: 0 5px 0 5px;
    text-decoration: none;  /* To get rid of underline beneath the text */
    border-radius: 3px;
}
/* When you're on a specific page, the corresponding button in the navbar is styled as follows. */
.activeNavbarElement {
    background-color:#E3A557;
    color: lightyellow;     /* refers to text colour */
}
/* To stop Link for login in the nav dropdown being blue and underlined */
.plainLink {
    text-decoration: none;
    color: black;
}
/* The button on the nav bar that tells you your username, or otherwise says 'Guest'. */
#loggedInAs {
    float: right;
    color: #5E3808;
    font-weight: bold;
}
#loggedInAs:hover {
    color: lightyellow;
    cursor: pointer;    /* Turns the mouse's cursor from an arrow (default) to a hand, to show that you can click. */
    }
/* The dropdown menu from the gear symbol. */
.dropdownDiv {
    right: 0;
    position: fixed; /* this means that it moves with the viewport, as required */
    margin-right: 5px;
    background-color: white;
    border-radius: 8px;
    margin-top: 61px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    padding: 5px;
    z-index: 10;
}
/* Options within the dropdown menu coming from the gear symbol. */
.dropdownElement {
    cursor: pointer;
    clear: left;
    border-radius: 5px;
    text-align: right;
}
.dropdownElement:hover { background-color: #DE8312; }
.dropdownText {
    text-decoration: none;
    color: #5E3808;
}


/* ================================== */
/* ============ arena.js ============ */
/* ================================== */

#arena { height: 380px; } /* Only the Arena panel needs a limited height - other pages can stretch more */

/* The text at the top of the arena page, that says 'guess the words' or else 'congratulations!'.  */
#arenaMessage {
    display: inline-block;
    padding-left: 10px;
}
#progressBar {
    height: 25px;
    border: thick solid #E8A41E;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
/* The green 'fluid' inside the progress bar. */
#progressBarFillFluid {
    height: 25px;
    background-color: #6EF5FF;
}

#optionContainer {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
}

/* The buttons change colour depending on whether they were selected or not, and whether the user was right or not. */
#wordOptionCorrect   { background-color: green; }
#wordOptionWrong     { background-color: red; }
#wordOptionCorrect:hover, #wordOptionWrong:hover { color: lightyellow; } /* No change from original colour as no action is possible on click */
#wordOptionNotChosen { 
    background-color: white;
    margin-top: 0px;    /* Otherwise, even though this takes up no space, it has a margin, which the objects around it respect. That makes there be a slight change in position of buttons on the page in feedback mode. */
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;   /* Same reason as above. */
}
#wordOptionCorrect, #wordOptionWrong, #wordOptionNotChosen { cursor: default; } /* Because you can't press them in feedback mode. */

#endImage {
    width: 100%;
}
.caption { 
    font-size: 1.5vw;
    color: #97989f; 
    display: inline;
}
.endDiv {
    width: 50%;
    display: inline-block;
}
#buttonDiv { 
    width: 40%;
    vertical-align: bottom;
}
#resultsDiv {
    width: 60%;
    margin-top: 10px;
}
.hugeNumberTitle {
    font-size: 1.5vw;
    margin: 0px;
}
.hugeNumber { 
    font-size: 4.6vw; 
    margin: 0px;
}
.endButton { 
    float: right; 
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.5vw;
}


/* ================================== */
/* ========= authentication ========= */
/* ================================== */

/* The error messages when you type in a username or password incorrectly. */
.authErrorMsg {
    color: red;
    margin-bottom: 0; /* so that it hugs the text below */
}


/* ================================== */
/* ============ record.js =========== */
/* ================================== */

/* This is a bit hacky...! Should try not to do things this way! */
#record * {margin-left: 1px;}

#record {
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.8;
    padding:5%;    
}

/* The top row's buttons start from the left and go rightwards. */
.topRowButton { 
    float: left; 
    margin-left:2px;
}
#tutorialButton { float: right; }

/* This is required to get the central body (the words and their buttons) to make a new line after the top row, rather than continuing horizontally from the top row. */
#wordList { clear: left; }

.wordRow, .wordRowFocused {
    display: list-item; /* puts each wordRow beneath the last, as a list */
    list-style: none;   /* stops there being any numbering for said list */
    background-color: #E7E0DB;
    border-bottom:1px solid #BFA184;
    height:45px;   
    border-radius:5px;
    padding-bottom: 1px;
    padding-top: 1px;
    color:#3C4536;
}
.wordRow:hover { background-color: #E1BA67; }
.wordRowFocused { background-color: #E1BA28; }
.wordRowFocused:hover { background-color: #E67C29; }

#stopIc {
    content:url("/stop.png");
    width:45px;
    padding:0px;
}

#stopIc:hover {
    content:url("/stopHover.png"); 
    width:45px;
    padding:0px;
    display: inline-block;
} 

#playIcon:hover {
    content:url("/playHover.png"); 
    width:60px;
}

#recordIcon:hover {
    content:url("/recordHover.png");
    width:60px;
}

/* ================================== */
/* ============ home.js ============ */
/* ================================== */

#userpicHome { 
    float: left;
    margin-right: 10px;
    margin-top: 0px;
}
#homeStats { text-align: left; }

/* ================================== */
/* ============ about.js ============ */
/* ================================== */

#about {text-align: justify;}

#about h1, #about h2, #about h3, #about h4, #about p {
    padding-left: 2%;
    padding-right: 2%;
}

/* ================================== */
/* =========== profile.js =========== */
/* ================================== */

.userpic {
    display: inline-block;
    text-align: center;
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
}

#overview {
    display: inline-block;
    margin-left: 10px;
}


/* ================================== */
/* =========== loading.jsx ========== */
/* ================================== */

#loadingWheel {
    /* centering */
    margin-left: auto;
    margin-right: auto;
    /*-webkit-animation-name: example; /* Chrome, Safari, Opera 
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera 
    -webkit-animation-iteration-count: infinite; */
    animation-name: spin1;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes spin1 {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg)}
}


/* ================================== */
/* == joinpage.jsx / loginpage.jsx == */
/* ================================== */

#form /*div*/ { text-align: center; }
#form /*div*/ table { 
    text-align: right;
    width: 350px;
    margin: 10px auto;
}
.tdText {
    text-align: left;
}
.tdError{
    text-align: center;
}

.authbtn { 
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #FFA22E;
    color: lightyellow;
    text-align: center;
    border-radius: 8px;
    margin: 10px;
    padding: 1%;
}
.authbtn:hover{
    background-color: #FFC32E;
    color: #3C4536;
}

