/* ================================== */
/* ========= entire document ======== */
/* ================================== */

body {
    background-color: #e6e6e6;  /* that greyish colour behind everything */
    margin: 0px;
}
p, li, h1, h2, h3, h4, div {font-family: Verdana, Geneva, sans-serif;}   /* Set fonts throughout the document. */
h1, h2, h3, h4, p { color: black; } /* Most text should be black. */
li { float: left; }                 /* All list elements should keep to the left as much as they can throughout the site. */
h4 { padding-left: 2%; }


/* ================================== */
/* ====== general categories ======== */
/* ================================== */

/* That white box that all the pages live in. */
.panel {
    position: absolute;
    z-index: -1;
    overflow: auto;
    background-color: white;
    border-radius: 8px;
    margin-left: 19%;
    margin-right: 19%;
    margin-bottom: 40px;
    width: 56%;
    margin-top: 3%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    padding: 3%;
}

/* For elements that are inactive (at the moment only used on the Record page) */
.transparent { opacity: 0.1; }
/* For elements that are not shown at all. (They may be shown when this class is removed from them.) */
.noDisplay { display: none; }

/* to replace the proliferation of button types, classes, and ids */
.button { 
    display: inline-block;
    color: white;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
.button:hover { background-color: darkcyan; }


/* ================================== */
/* ======== navigation bar ========== */
/* ================================== */

/* The navigation bar as a whole */
nav {
    height: 42px;
    text-align: center;
    background-color: #9977ff;
    margin-left: 19%;
    margin-right: 19%;
    margin-top: 10px;
    width: 61%;
    padding: 0.5%;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(0,0,128,0.2);
}
/* The links within the navigation bar */
nav a {
    color: aliceblue;
    text-decoration: none;
}
nav a:hover {
    text-decoration: none;
    background-color: aliceblue;
    color: #9977ff;
}

/* The buttons within the nav bar are an unordered list (<ul>). */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* The styling of the buttons within the nav bar is done through their text (<a> and <p>). */
nav ul li a, nav ul li p {
    display: block;
    padding: 8px;
    margin: 3px;
    text-decoration: none;  /* To get rid of underline beneath the text */
    border-radius: 5px;
}
/* When you're on a specific page, the corresponding button in the navbar is styled as follows. */
.activeNavbarElement {
    background-color: aliceblue;
    color: #9977ff;     /* refers to text colour */
}

/* The button on the nav bar that tells you your username, or otherwise says 'Guest'. */
#loggedInAs {
    float: right;
    color: indigo;
    font-weight: bold;
}
#loggedInAs:hover {
    background-color: aliceblue;
    cursor: pointer;    /* Turns the mouse's cursor from an arrow (default) to a hand, to show that you can click. */
}
/* The dropdown menu from the gear symbol. */
.dropdownDiv {
    right: 0;
    position: absolute;
    margin-right: 20%;
    background-color: white;
    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    padding: 5px;
}
/* Options within the dropdown menu coming from the gear symbol. */
.dropdownElement {
    cursor: pointer;
    clear: left;
    border-radius: 5px;
    text-align: right;
}
.dropdownElement:hover { background-color: #9977ff; }
.dropdownText {
    text-decoration: none;
    color: black;
}

/* ================================== */
/* ============ arena.js ============ */
/* ================================== */

#arena {
    height: 300px; /* Only the Arena panel needs a limited height - other pages can stretch more */
}

/* The text at the top of the arena page, that says 'guess the words' or else 'congratulations!'.  */
#arenaMessage {
    display: inline-block;
    padding-left: 10px;
}

#progressBar {
    height: 25px;
    border: thick solid gold;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
/* The green 'fluid' inside the progress bar. */
#progressBarFillFluid {
    height: 25px;
    background-color: greenyellow;
}

.enabledProgress, .disabledProgress {
    margin-top: 50px;
    margin-left: 35%;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
}
.enabledProgress {
    cursor: pointer;
    background-color: goldenrod;
}
.enabledProgress:hover {background-color: antiquewhite;}
.disabledProgress {background-color: lightgray;}

#optionContainer {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
}

.wordOption, .chooseOption, .extraButton, .homebtn {
    display: inline-block;
    color: white;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
.wordOption, .chooseOption { 
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
}
.wordOption:hover, .chooseOption:hover {
    background-color: darkcyan;
}
#wordOptionCorrect, #wordOptionWrong, #wordOptionNotChosen, .disabledProgress { cursor: default }

#wordOptionCorrect   { background-color: green; }
#wordOptionWrong     { background-color: red; }
#wordOptionNotChosen { background-color: white; }

.homebtn { 
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
}
.wordOption, .chooseOption, .homebtn { background-color: aqua; }
.extraButton {
    background-color: gold;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.extraButton:hover {
    background-color: darkgoldenrod;
}


/* ================================== */
/* ========= authentication ========= */
/* ================================== */

.authErrorMsg {
    color: red;
    margin-bottom: 0; /* so that it hugs the text below */
}


/* ================================== */
/* ============ record.js =========== */
/* ================================== */

#record * {margin-left: 10px;}

/* The top row's buttons start from the left and go rightwards. */
.topRowButton { float: left; }
/* This is required to get the central body (the words and their buttons) to make a new line after the top row, rather than continuing horizontally from the top row. */
#wordList { clear: left; }

.wordRow, .wordRowFocused {
    display: list-item; /* puts each wordRow beneath the last, as a list */
    list-style: none;   /* stops there being any numbering for said list */
    border-radius: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.wordRow:hover { background-color: darkseagreen; }
.wordRowFocused { background-color: gold; }
.wordRowFocused:hover { background-color: yellow; }

.wordRowButton, .topRowButton {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 3px;
    border-radius: 6px;
    background-color: darkgray;
}
.wordRowButtonEnabled, .topRowButtonEnabled {
    background-color: skyblue;
    cursor: pointer;
}
.wordRowButtonEnabled:hover, .topRowButtonEnabled:hover { background-color: deepskyblue; }

/* The play (>), record (o), and stop symbols on buttons */
.buttonIcon { 
    margin-right: 10px; 
    margin-top: 2px;
}
/* When the re-record single word buttons are currently re-recording */
.reRecordActive {
    background-color: coral;
    cursor: pointer;
}
.reRecordActive:hover { background-color: black; }


/* ================================== */
/* ============ about.js ============ */
/* ================================== */

#about {text-align: justify;}

#about h1, #about h2, #about p {
    padding-left: 2%;
    padding-right: 2%;
}

/* ================================== */
/* =========== profile.js =========== */
/* ================================== */

#userpic {
    display: inline-block;
    text-align: center;
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
}

#overview {
    display: inline-block;
    margin-left: 10px;
}

.graph {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

/* Loading page's wheel */
.centred {
    margin: auto;
    display: block;
}
#loadingWheel {
    /* centering */
    margin-left: auto;
    margin-right: auto;
    /*-webkit-animation-name: example; /* Chrome, Safari, Opera 
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera 
    -webkit-animation-iteration-count: infinite; */
    animation-name: spin1;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes spin1 {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg)}
}
